fastapi>=0.110.0
uvicorn>=0.28.0
websockets>=15.0.1
python-multipart>=0.0.9
pydantic-settings>=2.2.1

faster-whisper
speechbrain
torch
torchaudio
transformers>=4.35
librosa
scikit-learn
numpy
soundfile
ffmpeg-python
ollama
supabase
python-dotenv
loguru

f5-tts
