fastapi==0.110.0
uvicorn==0.28.0
websockets==12.0
python-multipart==0.0.9
pydantic-settings==2.2.1

faster-whisper
speechbrain
torch
scikit-learn
numpy
soundfile
ffmpeg-python
ollama
supabase
python-dotenv
loguru
